[Custom]
# AreaHeroScrollView|HeroName=fontsize24
HeroIcon(Clone)/HeroName=fontsize24
HeroIcon(Clone)/HeroForce=fontsize20
HudPanel/ForceLabel=fontsize24
ForceHeroPanel/Title=sizedelta x250 y0
ResearchUIPanel/Title=sizedelta x250 y0
BountyPanel/Title=sizedelta x250 y0
BuildingUI/Name=sizedelta x250 y0
MissionIconPrefab(Clone)/Title=fontsize24
WorldEventIconPrefab(Clone)/Title=fontsize24
WorldEventIconPrefab(Clone)/LeftTime=fontsize24
MailIconPrefab(Clone)/TextTitle=fontsize18
AreaBuildingUI(Clone)/Back/BuildingName=fontsize20
ItemIcon(Clone)/Name=fontsize20

# Canvas/TradePanel/RightList/ItemListScrollView/Viewport/Content/330500171/Name
# Canvas/TradePanel/LeftList/ItemListScrollView/Viewport/Content/00030100032/Name

# Canvas/AreaUIPanel/BuildingIconPanel/AreaBuildingUI(Clone)/Back/BuildingName=ChangeFontSizeByPercentage(2)
# /Canvas/ProgressText=ChangeFontSizeByPercentage(0.60)
# Canvas/ForceHeroPanel/Title=sizedelta x250 y0
# Canvas/ResearchUIPanel/Title=sizedelta x250 y0
# Canvas/BountyPanel/Title=sizedelta x250 y0
# Canvas/BuildingUIPanel/BuildingUI/Name=sizedelta x250 y0

# HeroIcon(Clone)/HeroName=fontsize24 
# HeroIcon(Clone)/HeroForce=fontsize20
# # Canvas/BuildingUIPanel/BuildingUI/Name=sizedelta x250 y0
# MissionIconPrefab(Clone)/Title=fontsize24
# # Canvas/ForceHeroPanel/Title=sizedelta x250 y0
# # Canvas/ResearchUIPanel/Title=sizedelta x250 y0
# # Canvas/BountyPanel/Title=sizedelta x250 y0